{% extends "base.html" %}

{% block title %}About - Meditations{% endblock %}
{% set hide_header = true %}
{% block content %}
<main class="mb-4"  style="margin-top: 100px;">
    <h1 class="text-center mb-4 h1">About Us</h1>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>This site is dedicated to helping you find peace, mindfulness, and balance through a variety of meditation practices. Explore mind and body meditations, learn new techniques, and join a community of like-minded individuals on a journey to tranquility.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
